<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.demo.domain.mapper.MeetingRoomMapper">

	<!-- マッピング定義(MeetingRoom) -->
	<resultMap id="baseResultMap" type="com.example.demo.domain.entity.MeetingRoom">
		<id property="roomId" column="room_id"></id>
		<result property="roomName" column="room_name"></result>
		<result property="capacity" column="capacity"></result>
	</resultMap>
	
	<select id="findOne" resultMap="baseResultMap">
		select
			room_id,
			room_name,
			capacity
		from
			meeting_room
		where
			room_id = #{roomId,jdbcType=INTEGER}
	</select>
	
	<select id="count" resultType="java.lang.Long">
		select
			count(*)
		from
			meeting_room
	</select>
	
	<select id="findAll" resultMap="baseResultMap">
		select
			room_id,
			room_name,
			capacity
		from
			meeting_room
	</select>
	
	<insert id="createMeetingRoom" parameterType="com.example.demo.domain.entity.MeetingRoomResult">
		insert
			into meeting_room (
				room_id,
				room_name,
				capacity
				)
			values (
				#{roomId,jdbcType=INTEGER},
				#{roomName,jdbcType=VARCHAR},
				#{capacity,jdbcType=INTEGER}
			)
	</insert>
</mapper>