<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Form login</title>
</head>
<body>
	<div id="wrpper">
		<h3>ログインフォーム</h3>
		<span style="color: red;">
			<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
			th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
			class="text-danger"></p>
		</span>
		<form th:action="@{/login}" method="post">
			<table>
				<tr>
					<td><label for="username">ユーザー名</label></td>
					<td><input type="text" id="username" name="username"></td>
				</tr>
				<tr>
					<td><label for="password">パスワード</label></td>
					<td><input type="password" id="password" name="password"></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><button type="submit">ログイン</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>